@import "tailwindcss";

@theme {
  --color-brand-maroon: #811919;
  --color-brand-accent: #fcd34d;
  --color-navy-900: #0f172a;
  --color-navy-950: #020617;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8fafc;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom Scrollbar for Announcements */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
